:root{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
}

*{
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* start components */
.special-heading{
    font-size: 100px;
    color: #ebeced;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p{
    text-align: center;
    font-size: 20px;
    margin: -30px 0 0 0;
    color:#222222c9;

}
@media (max-width:767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        font-size:15px;
        margin:-20px 0 0 0;
    }
}
/* end components */
.header{
    padding: 10px;
}
.container{
    margin:0px auto;
    padding-left:5px;
    padding-right:5px;
    position: relative;
    
}
/* Small Screen  */
@media(min-width:768px){
    .container{
        width:750px;
    }
}
/* Meduim Screen */
@media(min-width:992px){
    .container{
        width:970px;
    }
}
/* large screen */
@media(min-width:1200px){
    .container{
        width:1170px;
    }
}
.header .container{
    display: flex;
    justify-content: space-between;
}

.header .container .logo{
    width: 50px;
    height: 50px;
}
.header .container .icon{
    width:30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.header .container .icon span{
    height: 2px;
    background-color: #222;
    margin-bottom: 5px;
}
.header .container .icon span:first-of-type{
    width: 100%;
}
.header .container .icon span:nth-of-type(2){
    width: 60%;
    transition: all .5s ease-in-out;
}
.header .container .icon:hover span:nth-of-type(2){
    width:100%;
}
.header .container .icon span:last-of-type{
    width: 100%;
}
.links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    min-width: 180px;
    background-color: #eeeeeea6;
    top:100%;
    display: none;
}
.header .links:hover ul{
    display: block;
}
.links ul:before{
    content: "";
    border: 10px solid;
    border-color: transparent transparent #eeeee6;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .container .icon:hover .links ul{
    display:block;
}
.header .links ul a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #222;
    transition: all .5s ease-in-out;
}
.header .links ul a:hover{
    transform: translateX(10px);
}
.header .links ul li:not(:last-child){
    border: 1px solid #ddd;
}
/* ENd Header */
/* Start Landing */
.landing{
    background-image: url('https://plus.unsplash.com/premium_photo-1672115680958-54438df0ab82?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bW91bnRhaW5zfGVufDB8fDB8fHww');
    background-size: cover;
    height: calc(100vh - 70px);
}
.landing .intro-text h1{
    margin: 0px;
}
.landing .intro-text{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.landing .intro-text h1{
    color: var(--main-color);
    font-size: 50px;
}
.landing .intro-text p{
    font-size: 19px;
    color:#eeeee6;
}
/* End Landing */
/* start Features */
.features{
    padding-top:60px;
    padding-bottom:60px;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}
.features .container .feat i{
    color: var(--main-color);
    text-align: center;
}
.features .feat{
    text-align: center;
    padding: 20px;
}
.features .feat h3{
    margin: 30px 0;
}
.features .feat p{
    line-height: 1.4;
    color:#222222a3;
}
/* start Services */
.service{
    padding:50px 0;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    column-gap: 30px;
    margin-top:100px;
}
.services-content .serv{
    display: flex;
    margin-bottom:20px ;
}

@media (max-width:767px){
    .services-content .serv{
        flex-direction: column;
        text-align: center;
    }
}
.services-content .serv i{
    color:var(--main-color);
    flex-basis: 60px;
}
.services-content .serv .text{
    padding: 0px 18px;
}
.serv .text h3{
    margin-top: 0px;
}
.serv .text p{
    color: #222222a3;
}
.services-content .image{
    margin-top: 100px;
    text-align: center;
    position: relative;
}
.services-content img{
    width: 85%;
}
.services-content .image:before{
    content: "";
    position: absolute;
    background-color:var(--secondary-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}
@media (max-width:992px){
    .services-content .image{
        display: none;
    }
}

/* end Services */

/* start portfolio */
.portfolio{
    padding: 60px 0px;
    background-color: #eeeee6;
}
.portfolio .special-heading{
    padding-top: 20px;
    color:#cccdd0;
}
.portfolio .content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    column-gap: 20px;
}
.portfolio .content .col{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 20px 0px;
    border-radius: 10px;
}
@media (max-width:748px)
{
    .portfolio .content .col{
        margin: 20px 30px;
    }
}
.portfolio .image{
    width: 100%;
}
.portfolio .image img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.portfolio .content .col .text{
    padding: 30px;
}
.portfolio p{
    color: #222222a3;
}
.portfolio .btn{
    margin: 30px;
    position: relative;
}
.portfolio .btn > div{
    background-color: #eeeee6;
    border: 1px solid var(--secondary-color);
    position: absolute;
    top:50%;
    left: 50%;
    cursor: pointer;
    padding: 10px;
    transform:translate(-50%,-50%);
    border-radius: 3px;
    transition: all .5s ease-in-out;
}
.portfolio .btn >div:hover{
    background-color: var(--secondary-color);
    color: white;
}
/* start about */
.about{
    padding: 60px 0px;
    height: 100vh;
}
.about .content{
    margin:140px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .text{
    line-height: 1.7;
    letter-spacing: -1px;
    flex:1;
    padding-left:250px ;
}
.about .text p{
    margin-top: 30px;
    position: relative;
    color:#222222bf;
}
.about .text p::before{
    content:'';
    position: absolute;
    background-color: var(--main-color);
    width: 50%;
    height: 3px;
    top:-10px;
    left: 0;
}
.about .image{
    position: relative;
    width: 350px;
    height: 375px;
}
.about .image::before{
    content: '';
    position: absolute;
    left: -20px;
    top: -40px;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    z-index: -1;
}
.about .image::after{
    content: '';
    position: absolute;
    height: 259px;
    width: 120px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -40px;
    right: -149px;
    z-index: -1;
}
@media (max-width:992px){
    .about .image{
        display: none;
    }
    .about .text{
        padding: 10px;
        text-align: center;
    }
}
/* end about */
/* start contact */
.contact{
    padding: 60px 0px 120px;
    background-color: #eeeee6;
}
.contact .special-heading{
    color: #ddd8d8;
}
.contact .content h1{
    padding-top:50px ;
    color: var(--secondary-color);
    font-size: 50px;
    letter-spacing: -3px;
    margin-bottom: 0px;
}
.contact .content h2{
    font-size: 45px;
    letter-spacing: -3px;
    text-indent: 20px;
    margin-top: 0px;
    padding-left: 25px;
}
.contact a{
    text-decoration: none;
    color: var(--main-color);
}
.contact i{
    margin-left:20px;
    color: var(--secondary-color);
}
.contact .content p{
    font-size: 20px;
    letter-spacing: -2px;
    padding-left: 110px;
}
@media (max-width:900px)
{
    .contact .content h1{
        font-size: 40px;
    }
    .contact .content h2{
        font-size: 35px;
    }
}
/* end contact */
.footer{
    text-align: center;
    background-color: var(--secondary-color);
    color:#eeeee6;
    padding: 35px 0px;
    font-size: 19px;
    letter-spacing: -1px;
}
.footer span{
    color: var(--main-color);
}


